@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "tailwindcss";
body {
    font-family: 'Inter', sans-serif;
}


@keyframes animating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate {
    animation: animating 7s ease-in-out infinite;
}